@import "../../style/theme.scss";
@import "../../style/utils.scss";
.addBtn {
  @extend %flexCenter;
  position: fixed;
  bottom: 48rpx;
  right: 48rpx;
  width: 110rpx;
  height: 110rpx;
  background-color: $color-main;
  border-radius: 50%;
  box-shadow: 0 6rpx 8rpx rgb(206, 206, 206);
  image {
    height: 54rpx;
    width: 54rpx;
  }
}