@import "./style/theme.scss";
@import "./style/1px.scss";
@import "./style/utils.scss";

page {
  font-size: $font-size-normal;
  letter-spacing: .5px;
  color: $color-primary-text;
}
.icon {
  height: 45rpx;
  width: 45rpx;
}
.iconBox {
  @extend %flexCenter;
  height: 100%;
  width: 100rpx;
}