@import "./style/theme.scss";
@import "./style/1px.scss";
@import "./style/utils.scss";
@import "./style/icon.scss";

page, view {
  box-sizing: border-box;
}

page {
  height: 100%;
  font-size: $font-size-normal;
  letter-spacing: .5px;
  color: $color-primary-text;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 $m-space 40rpx;
}

.iconBox {
  @extend %flexCenter;
  height: 100%;
  width: 100rpx;
}

// input全局样式
.list-item-input {
  height: 100%;
  flex: 1;
}

// 按钮全局样式
.btn-larger {
  background-color: $color-main;
  color: #fff;
  border: none;
  outline: none;
  width: 630rpx;
}

// 侧边栏全局样式
.sidebar {
  &-list-icon {
    margin-right: $s-space;
  }
  &-add-btn {
    color: $color-main;
  }
}

// 添加按钮全局样式
.addBtn {
  &-icon {
    transition: all .3s;
    color: #fff;
    &-rotate {
      transform: rotate(45deg);
    }
  }
}