@import "./style/theme.scss";
@import "./style/1px.scss";
@import "./style/utils.scss";

page, view {
  box-sizing: border-box;
}

page {
  height: 100%;
  font-size: $font-size-normal;
  letter-spacing: .5px;
  color: $color-primary-text;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 $m-space 40rpx;
}
.icon {
  height: 45rpx;
  width: 45rpx;
}
.icon-s {
  height: 40rpx;
  width: 40rpx;
}
.iconBox {
  @extend %flexCenter;
  height: 100%;
  width: 100rpx;
}
.priority-btn {
  width: 15px;
  height: 15px;
}
.list-item-input {
  height: 100%;
  flex: 1;
}
.btn-larger {
  background-color: $color-main;
  color: #fff;
  border: none;
  outline: none;
  width: 630rpx;
}