$color-main: #5B88FC;
$color-easy: #5AD8EF;
$color-normal: #F9C300;
$color-urgent: #F788A6;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-removed-text: #BDBDBD;
$color-bg: #f5f5f5;
$font-size-larger: 18px;
$font-size-normal: 15px;
$font-size-small: 13px;