@import "../../style/utils.scss";
.list-item {
  position: relative;
  display: flex;
  height: 110rpx;
  &-prefix, &-s-suffix, &-suffix {
    @extend %flexCenter;
    height: 100%;
  }
  &-body {
    display: flex;
    flex: 1;
    height: 100%;
    @extend %flexCenter;
  }
}