@import "../../style/theme.scss";
@import "../../style/utils.scss";
.todo {
  &-checkbox {
    width: 28rpx;
    height: 28rpx;
    border-radius: 5rpx;
    border-width: 4rpx;
    border-style: solid;
  }
  &-body {
    flex: 1;
    width: 0;
    @extend %ellipsis;
  }
  &-finish {
    text {
      text-decoration: line-through;
      color: $color-easy;
    }
    .easy {
      background: $color-easy;
    }
    .normal {
      background: $color-normal;
    }
    .urgent {
      background: $color-urgent;
    }
  }
}
.easy {
  border-color: $color-easy;
}
.normal {
  border-color: $color-normal;
}
.urgent {
  border-color: $color-urgent;
}