@import "../../style/theme.scss";
.header {
  font-size: $font-size-larger;
}
.avatar {
  height: 78rpx;
  width: 78rpx;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 30rpx;
}
.actions input {
  height: 100%;
  flex: 1;
}
.loading-info {
  text-align: center;
  color: $color-secondary-text;
  width: 100%;
  font-size: $font-size-small;
}